@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Work Co.</h1>
    <p class="lead">Welcome to the Work Co. Employee Portal.</p>
    <p><a href="/home/clockin" class="btn btn-primary btn-lg">Clock in now.</a></p>
</div>
